html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.row .three p, .row .four .comments {
  width: 90%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: left; }

.sidebar {
  float: left;
  margin-top: 7%;
  position: absolute;
  left: 0;
  height: 32em;
  width: 25%; }
  @media screen and (max-width: 699px) {
    .sidebar {
      width: 100%;
      height: 6em;
      margin-top: 10%; } }

.menu {
  width: 100%;
  height: 100%;
  margin: 1em; }
  @media screen and (max-width: 699px) {
    .menu {
      margin: 0 0 0 22%;
      height: 100%; } }

.add-post {
  background: silver;
  height: 40px;
  position: relative;
  width: 12px;
  left: 14px;
  top: -30px;
  border-radius: 15%; }
  @media screen and (max-width: 699px) {
    .add-post {
      display: block;
      left: 177px; } }
  .add-post:after {
    background: silver;
    content: "";
    height: 12px;
    top: 14.3px;
    left: -14px;
    position: absolute;
    width: 40px;
    border-radius: 15%; }
    @media screen and (max-width: 699px) {
      .add-post:after {
        display: block;
        top: 16px; } }

ul {
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 699px) {
    ul {
      display: inline-block;
      height: 100%; } }

li {
  float: left;
  width: 100%;
  height: 12%; }
  @media screen and (max-width: 699px) {
    li {
      display: inline-block;
      width: 10%;
      height: 100%; } }

.color {
  float: left;
  border-radius: 70%;
  border: 4px dotted #eae2e0;
  width: 2em;
  height: 2em; }
  @media screen and (max-width: 699px) {
    .color {
      width: 1.5em;
      height: 1.5em;
      margin-top: 20%;
      vertical-align: middle; } }

.category {
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: white lightgrey darkgrey;
  border-radius: 50%;
  visibility: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.25em;
  vertical-align: top;
  text-align: left;
  transform: translate(0, -1em);
  transform-origin: left center;
  transition-timing-function: ease-in-out; }
  @media screen and (max-width: 699px) {
    .category {
      transform: translate(0, 0.75em); } }

li:nth-child(1) .color {
  background: -webkit-radial-gradient(white 0.2%, darkred);
  background: radial-gradient(white 0.2%, darkred);
  transition: all 1.5s ease-in-out; }
  li:nth-child(1) .color:hover {
    transform: translate(40px, 20px); }
    @media screen and (max-width: 699px) {
      li:nth-child(1) .color:hover {
        transform: translate(-20px, 35px); } }
    li:nth-child(1) .color:hover + .category {
      transition-delay: 1s;
      visibility: visible;
      display: table-cell; }

li:nth-child(2) .color {
  background: -webkit-radial-gradient(white 0.2%, #cc8400);
  background: radial-gradient(white 0.2%, #cc8400);
  transition: all 1.5s ease-in-out; }
  li:nth-child(2) .color:hover {
    transform: translate(40px, 20px); }
    @media screen and (max-width: 699px) {
      li:nth-child(2) .color:hover {
        transform: translate(-20px, 35px); } }
    li:nth-child(2) .color:hover + .category {
      transition-delay: 1s;
      visibility: visible;
      display: table-cell; }

li:nth-child(3) .color {
  background: -webkit-radial-gradient(white 0.2%, #cccc00);
  background: radial-gradient(white 0.2%, #cccc00);
  transition: all 1.5s ease-in-out; }
  li:nth-child(3) .color:hover {
    transform: translate(40px, 20px); }
    @media screen and (max-width: 699px) {
      li:nth-child(3) .color:hover {
        transform: translate(-20px, 35px); } }
    li:nth-child(3) .color:hover + .category {
      transition-delay: 1s;
      visibility: visible;
      display: table-cell; }

li:nth-child(4) .color {
  background: -webkit-radial-gradient(white 0.2%, darkgreen);
  background: radial-gradient(white 0.2%, darkgreen);
  transition: all 1.5s ease-in-out; }
  li:nth-child(4) .color:hover {
    transform: translate(40px, 20px); }
    @media screen and (max-width: 699px) {
      li:nth-child(4) .color:hover {
        transform: translate(-20px, 35px); } }
    li:nth-child(4) .color:hover + .category {
      transition-delay: 1s;
      visibility: visible;
      display: table-cell; }

li:nth-child(5) .color {
  background: -webkit-radial-gradient(white 0.2%, darkblue);
  background: radial-gradient(white 0.2%, darkblue);
  transition: all 1.5s ease-in-out; }
  li:nth-child(5) .color:hover {
    transform: translate(40px, 20px); }
    @media screen and (max-width: 699px) {
      li:nth-child(5) .color:hover {
        transform: translate(-20px, 35px); } }
    li:nth-child(5) .color:hover + .category {
      transition-delay: 1s;
      visibility: visible;
      display: table-cell; }

li:nth-child(6) .color {
  background: -webkit-radial-gradient(white 0.2%, #4d004d);
  background: radial-gradient(white 0.2%, #4d004d);
  transition: all 1.5s ease-in-out; }
  li:nth-child(6) .color:hover {
    transform: translate(40px, 20px); }
    @media screen and (max-width: 699px) {
      li:nth-child(6) .color:hover {
        transform: translate(-20px, 35px); } }
    li:nth-child(6) .color:hover + .category {
      transition-delay: 1s;
      visibility: visible;
      display: table-cell; }

.wrapper {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  position: relative;
  left: 10%;
  margin-top: 5%; }
  .wrapper::after {
    clear: both;
    content: "";
    display: block; }
  .wrapper::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 699px) {
    .wrapper {
      left: 0;
      width: 100%;
      margin-top: 35%; } }

.grid {
  width: 100%;
  height: 150em; }

.outer-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  width: 100%;
  height: 100%;
  position: absolute; }
  .outer-row::after {
    clear: both;
    content: "";
    display: block; }
  .outer-row:last-child {
    margin-right: 0; }
  .outer-row .column {
    display: inline-block;
    text-align: center;
    float: left;
    padding: 0;
    margin: 0;
    height: 100%; }
  .outer-row .one {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .outer-row .one:last-child {
      margin-right: 0; }
    @media screen and (max-width: 699px) {
      .outer-row .one {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .outer-row .one:last-child {
          margin-right: 0; } }
    .outer-row .one .row {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      height: 49.25%;
      margin: 1.5%; }
      .outer-row .one .row:last-child {
        margin-right: 0; }
  .outer-row .two {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .outer-row .two:last-child {
      margin-right: 0; }
    @media screen and (max-width: 699px) {
      .outer-row .two {
        display: none; } }
    .outer-row .two .row {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      height: 30%;
      margin: 1%; }
      .outer-row .two .row:last-child {
        margin-right: 0; }
      .outer-row .two .row .one {
        position: relative;
        width: 100%;
        height: 10%; }
        @media screen and (max-width: 1024px) {
          .outer-row .two .row .one {
            height: 10%; } }
        .outer-row .two .row .one .about-title {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%); }
      .outer-row .two .row .two {
        position: relative;
        width: 100%;
        height: 100%; }
        .outer-row .two .row .two p {
          width: 80%;
          height: 80%;
          text-align: left;
          position: absolute;
          top: 42%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%); }

.header {
  text-align: center;
  width: 100%;
  height: 250px;
  background: #eae2e0;
  position: relative; }
  .header .sun {
    position: absolute;
    left: 30%;
    top: 10%; }
    @media screen and (min-width: 700px) {
      .header .sun {
        width: 250px;
        height: 250px; } }
    @media screen and (min-width: 480px) and (max-width: 699px) {
      .header .sun {
        width: 200px;
        height: 200px; } }
    @media screen and (max-width: 479px) {
      .header .sun {
        width: 150px;
        height: 150px; } }
    .header .sun img {
      max-width: 100%;
      height: auto;
      margin: 0; }

.row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border: 2px solid lightgrey;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px; }
  .row:last-child {
    margin-right: 0; }
  .row .rowlet {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0;
    border-top: 2px solid lightgrey;
    border-top: 2px solid lightgrey;
    width: 100%;
    height: 10%; }
    .row .rowlet:last-child {
      margin-right: 0; }
  .row .one {
    border-top: none;
    width: 100%;
    height: 10%;
    position: relative; }
    .row .one .username {
      position: absolute;
      top: 40%;
      left: 85px; }
  .row .one .thumbnail {
    margin: 0;
    padding: 0;
    width: 75px;
    height: 75px;
    position: relative; }
    .row .one .thumbnail img {
      max-width: 100%;
      height: 100%;
      border-radius: 50%; }
  .row .two {
    position: relative; }
    .row .two p {
      position: absolute;
      top: 75%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); }
  .row .three {
    width: 100%;
    height: auto;
    position: relative; }
  .row .four {
    width: 100%;
    height: 10%;
    display: inline-block;
    position: relative; }
    .row .four .comments {
      float: left;
      text-decoration: none; }
    .row .four .plus, .row .four .diamond {
      float: right;
      position: absolute; }
    .row .four .plus {
      left: 67%;
      top: 30%; }
    .row .four .diamond {
      left: 80%;
      top: 23%; }

.post .two {
  width: 100%;
  height: 50%; }
  .post .two .card {
    width: 100%;
    height: 100%;
    position: relative; }
    .post .two .card img {
      max-width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); }
.post .three {
  width: 100%;
  height: 30%; }

/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 50em; }

.container {
  position: relative;
  width: 100%;
  margin: 0 auto; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

h1 {
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 36px;
  letter-spacing: 0.15em;
  margin: 0;
  padding-bottom: 2.5%;
  border-bottom: 2px solid lightgrey;
  -webkit-text-stroke: 1px black;
  color: #eae2e0;
  text-align: center; }
  @media screen and (min-width: 480px) {
    h1 {
      font-size: 48px; } }
  @media screen and (min-width: 700px) {
    h1 {
      font-size: 56px; } }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 72px; } }

h2, h3 {
  font-family: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
  letter-spacing: 0.05em;
  color: powderblue;
  font-weight: normal;
  -webkit-text-stroke: 1px black; }

h2 {
  font-size: 16px;
  text-align: center; }
  @media screen and (min-width: 480px) {
    h2 {
      font-size: 18px; } }
  @media screen and (min-width: 640px) {
    h2 {
      font-size: 20px; } }
  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 22px; } }

h3 {
  font-size: 18px; }
  @media screen and (min-width: 480px) {
    h3 {
      font-size: 22px; } }
  @media screen and (min-width: 640px) {
    h3 {
      font-size: 28px; } }
  @media screen and (min-width: 1024px) {
    h3 {
      font-size: 32px; } }

h4 {
  font-size: 14px;
  text-align: left;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  letter-spacing: 2px;
  color: grey;
  font-weight: normal;
  margin: 5%; }
  @media screen and (min-width: 480px) {
    h4 {
      font-size: 16px; } }
  @media screen and (min-width: 640px) {
    h4 {
      font-size: 18px; } }
  @media screen and (min-width: 1024px) {
    h4 {
      font-size: 20px; } }

p, a {
  font-size: 16px;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  letter-spacing: 2px;
  color: grey;
  font-weight: normal; }
  @media screen and (min-width: 480px) {
    p, a {
      font-size: 18px; } }
  @media screen and (min-width: 640px) {
    p, a {
      font-size: 20px; } }
  @media screen and (min-width: 1024px) {
    p, a {
      font-size: 22px; } }

.rowlet .one p {
  position: absolute;
  top: 25%;
  left: 80px; }

.category p {
  text-align: center;
  font-size: 18px;
  letter-spacing: 4px; }

/*# sourceMappingURL=main.css.map */
