.wrapper
  @include outer-container(1500px)
  +clearfix
  width: 75%
  position: relative
  left: 10%
  margin-top: 5%
  @media screen and (max-width: 699px)
    left: 0
    width: 100%
    margin-top: 35%

.grid
  width: 100%
  height: 150em

.outer-row
  +clearfix
  @include span-columns(12)
  width: 100%
  height: 100%
  position: absolute
  .column
    display: inline-block
    text-align: center
    float: left
    padding: 0
    margin: 0
    height: 100%
  .one
    @include span-columns(8 of 12)
    @media screen and (max-width: 699px)
      @include span-columns(12 of 12)
    .row
      @include span-columns(12 of 12)
      height: 49.25%
      margin: 1.5%
  .two
    +clearfix
    @include span-columns(4 of 12)
    @media screen and (max-width: 699px)
      display: none
    .row
      +clearfix
      @include span-columns(12 of 12)
      margin: -20% 1% 1% 1%
      @media screen and (max-width: 699px)
        height: 30%
      @media screen and (max-width: 700px)
        margin: -20% 1% 1% 1%
      .one
        +clearfix
        position: relative
        width: 100%
        height: 75px
        // @media screen and (min-width: 700px)
        //   height: 10%
        .about-title
          position: absolute
          top: 50%
          left: 50%
          margin-right: -50%
          transform: translate(-50%, -50%)
      .two
        position: relative
        width: 100%
        height: 100%
        p
          width: 80%
          height: 80%
          text-align: left
          position: absolute
          top: 42%
          left: 50%
          margin-right: -50%
          transform: translate(-50%, -50%)
