.header
  // float: left
  text-align: center
  // border: $border
  width: 100%
  // display: table-cell
  // vertical-align: middle
  img
    margin: 2.5% 0 0 0
    // background-image: radial-gradient(orange, purple)
    // background-repeat: no-repeat
    // border-radius: 70%
