.row
  @include span-columns(12 of 12)
  border: $border
  border-top-left-radius: 50px
  border-bottom-right-radius: 50px
  .rowlet
    +clearfix
    @include span-columns(12 of 12)
    margin-right: 0
    border-top: 2px solid lightgrey
    border-top: 2px solid lightgrey
    width: 100%
    height: 10%
  .one
    border-top: none
    width: 100%
    height: 10%
    position: relative
    .username
      position: absolute
      top: 40%
      left: 85px
  .one .thumbnail
    margin: 0
    padding: 0
    width: 75px
    height: 75px
    position: relative
    img
      max-width: 100%
      height: 100%
      border-radius: 50%
  .two
    position: relative
    p
      position: absolute
      top: 75%
      left: 50%
      margin-right: -50%
      transform: translate(-50%, -50%)
  .three
    width: 100%
    height: auto
    position: relative
    p
      @extend %center
  .four
    width: 100%
    height: 10%
    display: inline-block
    position: relative
    .comments
      float: left
      @extend %center
      text-decoration: none
    .plus, .diamond
      float: right
      position: absolute
    .plus
      left: 67%
      top: 30%
    .diamond
      left: 80%
      top: 23%

.post
  .two
    width: 100%
    height: 50%
    .card
      width: 100%
      height: 100%
      position: relative
      img
        max-width: 100%
        height: auto
        position: absolute
        top: 50%
        left: 50%
        margin-right: -50%
        transform: translate(-50%, -50%)
  .three
    width: 100%
    height: 30%
