.sidebar
  float: left
  width: 50%
  height: 20em
  margin-top: 15%
  position: absolute
  left: 0

.menu
  width: 10em
  height: 20em
  margin: 2.5em

ul
  width: 100%
  height: 5em

li
  float: left
  width: 100%
  height: 2.5em

.color
  float: left
  width: 2em
  height: 2em
  margin-bottom: 1%
  border-radius: 70%
  border: 4px solid lighten(silver, 10%)

.category
  display: inline-block
  background: yellow
  visibility: hidden
  width: 100%
  height: 1em
  margin: 0
  padding: 0
  vertical-align: middle
  text-align: left
  transform: translate(3em, 2.5em)
  transform-origin: left center
  transition-timing-function: ease-in-out

@each $current-color in $colors-list
  $i: index($colors-list, $current-color)
  li:nth-child(#{$i}) .color
    background: $current-color
    transition: all 1.5s ease-in-out
    &:hover
      transform: translate(55px, 35px)
      & + .category
        transition-delay: 1s
        // transition: rotate(-45deg)
        // transition: all 1.5s ease-in-out
        visibility: visible
        display: table-cell
