*
  @include box-sizing(border-box)
  border: $border

body
  width: 100%
  height: 50em
  font-family: $lucida-grande
  // @include background(radial-gradient(lighten(orange, 30%), darken(purple, 10%)) left no-repeat)
  // background-size: cover

.container
  // @include outer-container(1500px)
  position: relative
  width: 100%
  margin: 0 auto
  +clearfix
