$colors-list: darkred darken(orange, 10%) darken(yellow, 10%) darkgreen darkblue darken(purple, 10%)

$border: 2px solid lightgrey

// $breakpoint-small: "screen and (min-width: 20em)"
// $breakpoint-medium: "screen and (min-width: 30em)"
$breakpoints: (small: 480px, medium: 700px, large: 1024px)

$p-font-sizes: (null: 14px, 480px: 16px, 640px: 17px, 1024px: 19px)

$h2-font-sizes: (null: 36px, small: 48px, medium: 56px, large: 72px)
